@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: var(--color-background);
  margin-left: 120px;
  margin-right: 120px;
}

.bg-background {
  background-color: var(--color-background);
}
